/*Globals*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Raleway', sans-serif;
}
html{
    scroll-behavior: smooth;
}
a{
    color: #fff;
    text-decoration: none;
}
.emoji-cut{
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.emoji-cut b{
    font-size: 30px;
    margin-right: 10px;
    cursor: pointer;
}
.emoji-cut p {
    margin-top: 10px;
    font-weight: bold;
}
/* Start of Main */
main{
    min-height: 100vh;
    background-color: #12171c;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}
main header{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
main header nav {
    display: flex;
    justify-content: center;
}
main header .gear{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
}
main header p {
    margin-right: 9px;
    font-weight: bold;
    cursor: pointer;
}
main header p a {
    transition: all .4s ease-in;
}
main header p a:hover {
    text-decoration: underline;
    color: #009efd;
}
main .cont{
    width: 100%;
    min-height: 70vh;
    display: flex;
    align-items: center;
    padding: 15px;
}
main .cont > div{
    height: 100%;
    width: 100%;
    flex: 1;
}

main .cont .text-div{
    line-height: 2;
    margin-top:30px;
}

main .cont .text-div h2 span{
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    transition: all .4s ease-in-out;
    animation: changeColor 15s linear infinite;
}

main .cont .text-div p {
    font-size: 28px;
    margin-bottom: 12px;
}
main .cont .text-div p span{
    background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
    font-weight: 800;
}
main .cont .text-div div{
    font-size: 20px;
}
main .cont .image-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main .cont .image-div .image-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: relative;
}
main .image-cont img{
    width: 100%;
    height: 100%;
    border-radius: 25px;
    box-shadow: 10px 5px 5px 5px #0b1621;
    border:3.5px solid #111;
}
main .image-cont .overlay{
    position: absolute;
    top: 50%;
    font-weight: bold;
    font-size: 20px;
    color: #009efd;
}


main .image-div p{
    margin-top: 10px;
}

main .hidden-menu{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    background-color: #0b1621;
    display: flex;
    flex-direction: column;
    transition: all .35s ease-in-out;
}
main .hidden-menu .items{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main .hidden-menu .items p {
    margin-bottom: 1.5rem;
    font-size: 2rem;
    font-weight: bold;
}

main .hidden-menu footer{
    height: 10vh;
    background-color: inherit;
}


/* Services */

#services .box p{
    width: 300px;
}

/* Skills */

.box .lang-image{
    width: 50px;
    height: 50px;
}
.box .lang-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#skills .box-row{
    margin-bottom: 20px;
}
#skills .box .bar{
    height: 30px;
    border-radius: 30px;
    text-align: center;
    color: #fff;
    font-weight: bold;
}

/* Contact */

#contact{
    padding: 20px;
}
#contact .box > * {
    margin-bottom: 12px;
}

/* Work */

#work .arrow{
    cursor: pointer;
}
#work .image-gallery{
    height: 800px;
    width: 100%;
    position: relative;
}
#work .image-gallery .images{
    width: 100%;
    height: 100%;
}
#work .image-gallery .images img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#work .image-gallery .overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(11, 11, 11, 0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}
#work .image-gallery .content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* Footer */
.App footer{
    background-color: #000;
    padding: 10px;
    color: #fff;
}
.footer-box{
    line-height: 2.75;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}
.footer-box > div{
    display: flex;
}
/* Framework */

.text-fill{
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.btn{
    margin: 10px 0;
}
.btn button{
    min-width: 100px;
    height: 40px;
    font-weight: bold;
    cursor: pointer;
    background-color: #009efd;
    border-radius: 10px;
    border: none;
    transition: all .4s ease-in-out;
    padding: 7px;
}
.btn button:hover{
    background-color: #30cfd0;
}

.H2{
    font-size: 55px;
    padding: 10px 0;
}
.H3{
    font-size: 35px;
    padding: 10px 0;
}
.container{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}

.text-center{
    text-align: center;
}

.boxes-container{
    display: flex;
    flex-direction: column;
    margin: 5px 0;
}
.boxes-container .box-row{
    display: flex;
    margin: 5px 0;
}

.boxes-container .box-row .box{
    flex: 1;
    margin: 10px 5px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1.75;
}
.grey-color{
    color: #636e72;
}
.clear-list{
    list-style: none;
}

/* Animaciones */

@keyframes changeColor {
    0%{
        background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    }
    25%{
        background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    }
    50%{
        background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
    }
    75%{
        background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
    }
    100%{
        background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
    }
}

@keyframes hover {
    0%{
        transform: scale(1.05);
    }
    20%{
        transform: scale(1.1);
    }

    40%{
        transform: scale(1.15);
    }

    60%{
        transform: scale(1.2);
    }

    80%{
        transform: scale(1.25);
    }

    100%{
        transform: scale(1.30);
    }
}

@media (max-width:720px) and (min-width:320px) {
    .cont{
        flex-direction: column;
    }
    .cont .text-div {
        margin-top: 0;
        margin-bottom: 20px;
    }
    .cont .image-div .image-cont{
        width: 100%;
    }
    .H2{
        font-size: 40px !important;
    }
    .H3{
        font-size: 25px !important;
    }
    .box-row{
        flex-direction: column;
    }
    .form-part{
        flex-direction: column;
    }
}
